CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out/*
out
*cmake-tools*
docker/mariadb/mariadb/conf/*
docker/mariadb/mariadb/data/*
docker/mariadb/mariadb/log/*
docker/rabbitmq/rabbitmq/*
.cache/
